
.tab-pane .tab-header-area .tab-header-background {
  -fx-background-color: white;
}
.tab-content-area {
  -fx-border-color: transparent transparent #dddddd transparent;
}

.label, .button, .text {
  -fx-font-family: "HelveticaNeue", Helvetica, sans-serif;
  -fx-text-fill: black;
  -fx-opacity: 1.0;
}

.label, .button {
  -fx-font-size: 14pt;
}

.icon-tab-icon {
  -fx-font: 25pt Ionicons;
}
.icon-tab-label .text {
  -fx-font-size: 8pt;
}
.icon-tab-container {
  -fx-alignement: center;
}
.icon-tab {
  -fx-padding: 10pt 0 10pt 0;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-background-color: white;
}
.icon-tab .label {
  -fx-text-fill: #aaaaaa;
}
.icon-tab:selected .label {
  -fx-text-fill: #93c623;
}
.icon-tab:selected .focus-indicator {
  -fx-border-width: 0;
}
.tab-header-area {
  -fx-padding: 0;
  -fx-background-color: white;
}

#work-pane {
  -fx-background-color: white;
}

#work-pane #current-task-value, #work-pane #time-elapsed-value {
  -fx-font-size: 25pt;
}

#work-pane #start-stop-button {
  -fx-font-size: 25pt;
  -fx-font-family: "Helvetica Neue", Helvetica, sans-serif;
  -fx-background-color: white;
  -fx-text-fill: #93c623;
  -fx-border-color: #93c623;
  -fx-border-width: 1pt;
  -fx-padding: 12pt 30pt 12pt 30pt;
}

#work-pane #start-stop-button.started {
  -fx-text-fill: red;
  -fx-border-color: red;
}

.big-decimal-field .number-text-field {
  -fx-alignment: center-right;
}

.list-view {
  -fx-padding: 0 0 0 0;
}
.list-view:focused {
  -fx-background-insets: 0, 0, 0;
}
.list-cell {
  -fx-background-color: white;
  -fx-border-color: transparent #dddddd #93c623 transparent;
  -fx-border-width: 0 1 1 0;
  -fx-padding: 10 10 10 10;
  -fx-text-fill: black;
}
.list-cell:selected {
  -fx-background-color: #dddddd;
}
.list-cell .text {
  -fx-font-size: 14pt;
}
